---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/sections/Nav.astro';
import Hero from '../components/sections/Hero.astro';
import Marquee from '../components/sections/Marquee.astro';
import Profe from '../components/sections/Profe.astro';
import AgendaSection from '../components/sections/AgendaSection.astro';
import Riders from '../components/sections/Riders.astro';
import GaleriaSection from '../components/sections/GaleriaSection.astro';
import Precios from '../components/sections/Precios.astro';
import Spots from '../components/sections/Spots.astro';
import Contacto from '../components/sections/Contacto.astro';
import Footer from '../components/sections/Footer.astro';
import CtaFlotante from '../components/sections/CtaFlotante.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <Profe />
    <AgendaSection />
    <Riders />
    <GaleriaSection />
    <Precios />
    <Spots />
    <Contacto />
  </main>
  <Footer />
  <CtaFlotante />
</Layout>
